.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.projects h1{
    color: cyan;
}

.projects p{
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}